[submodule "distro"]
	path = distro
	url = https://github.com/NVIDIA/torch-distro
        branch = type-redux
[submodule "external/libpng"]
	path = external/libpng
	url = https://android.googlesource.com/platform/external/libpng
[submodule "external/libjpeg-turbo"]
	path = external/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
